*, form, p, #footer p
{
    margin: 0;
    padding: 0;
}

a
{
    color: #4997CD;
    text-decoration: none;
}

a.current
{
    background-color: #9C9B9B;
    color: #FFF;
    padding: 2px 8px;
    text-decoration: none;
}

a.link
{
    background-color: #4997CD;
    color: #FFF;
    padding: 2px 8px;
    text-decoration: none;
}

a.link:hover
{
    background-color: #9C9B9B;
}

body
{
    background: #DBDADA;
    color: #4B4B4B;
    font-family: "Trebuchet MS", Verdana, Tahoma, Arial, Sans-serif;
    font-size: 12px;
    margin: 0 0 10px;
}

fieldset
{
    border: 2px solid #FEE498;
    color: #606060;
    font-size: 13px;
    margin-bottom: 5px;
    padding: 10px;
}

h1.title
{
    color: #4997CD;
    font-size: 26px;
    margin: 0;
    padding: 0;
}

h1.title a
{
    text-decoration: none;
}

img
{
    border: none;
}

input, select, textarea
{
    border: 1px solid #C9C8C8;
    color: #4B4B4B;
    font-size: 11px;
    line-height: 14px;
    margin: 0;
    padding: 2px 0 2px 4px;
}

legend
{
    color: #606060;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

strong
{
    color: #000000;
}

table
{
    border: 1px solid #000;
    border-collapse: collapse;
    margin: 20px 0 0;
    width: 100%;
}

table th
{
    font-weight: 700;
}

table td
{
    padding: 1em;
    text-align: center;
}

ul, ol
{
    margin-left: 15px;
}

.content
{
    padding: 8px 8px 0;
}

.footer
{
    background-color: #E7E5E5;
    border-bottom: 1px solid #B7B6B6;
    border-top: 1px solid #B7B6B6;
    color: #333;
    line-height: 21px;
    margin: 0 0 8px;
    padding: 10px 0 7px;
    text-align: center;
}

.header
{
    background: #FFF;
    color: #000;
    height: auto !important;
    overflow: hidden;
}

.header .left
{
    float: left;
    padding: 21px 0 0 25px;
}

.header .right
{
    background: #FFF;
    color: #DBDADA;
    float: right;
    padding: 10px 10px 0 0;
    text-align: right;
}

.languages
{
    padding: 6px 0 0;
}

.nav
{
    background: #4997CD;
    border-bottom: 4px solid #217CBB;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
}

.nav ul
{
    background-color: #4997CD;
    margin: 0;
    padding: 0;
}

.nav ul li
{
    background-color: #4997CD;
    float: left;
    font-size: 15px;
    font-weight: 700;
    line-height: 31px;
    list-style-type: none;
}

.nav ul li a
{
    background: #4997CD;
    color: #FFF;
    display: block;
    margin: 0;
    padding: 0 22px;
    text-decoration: none;
}

.nav ul li a:hover
{
    background: #217CBB;
    padding: 0 22px;
}

.nav ul li.selected a
{
    background: #217CBB;
    color: #FFF;
    float: left;
    font-size: 15px;
    font-weight: 700;
    line-height: 31px;
    list-style: none;
}

.nav ul li:hover
{
    background-color: #217CBB;
    float: left;
    font-size: 15px;
    font-weight: 700;
    line-height: 31px;
    list-style-type: none;
}

.redirect
{
    background-color: #E3EDFC;
    border: 2px solid #ABE1FA;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    margin: 8px;
    padding: 23px;
    text-align: center;
}

.section
{
    background-color: #FFF;
    border: 1px solid #B7B6B6;
    line-height: 19px;
    margin: 0 0 8px;
    padding: 11px 14px 10px;
}

.section h2
{
    color: #4997CD;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 8px;
    padding: 0;
}

.section h3
{
    color: #4997CD;
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0 8px;
    padding: 0;
}

.section p
{
    line-height: 19px;
    margin: 0 0 10px;
}

.slogan
{
    background: #FFF;
    color: #868788;
    font-style: italic;
    line-height: 15px;
    padding: 4px 0 0;
    position: relative;
}

.space
{
    background-color: #FFF;
    float: left;
    height: 31px;
    width: 246px;
}

.textarea
{
    background: #EFEFEF;
}

.textarea:hover, .textarea:focus
{
    border: 1px solid #4997CD;
    background: #FFF;
}

.welcome
{
    background-color: #FFF;
    color: #4997CD;
    height: auto;
    line-height: 21px;
    margin: 0;
    padding: 0 0 4px;
    text-align: right;
}

.welcome .menu
{
    padding: 0 10px 0 0;
}